<div class="jumbotron">
  <h1 class="display-4 custom-margin"><%= t('welcome')%></h1>
  <p class="lead"><%= t('messages.welcome')%></p>
  <hr class="my-4">
  <p><%= t('messages.menu')%></p>
  <!--
  <a class="btn btn-primary btn-lg" href="#" role="button">Moedas</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Tipos de Mineração</a>
  -->
  <%= render "menu" %>
</div>
<!--
    <p>
        <%= link_to "Português", "/?locale=pt-BR"%>
    </p>
    <p>
        <%= link_to "Inglês", "/?locale=en"%>
    </p>

<p>O idioma usado nessa aplicação é: <strong><%= locale(I18n.locale)%></strong></p>
<p><%= t('hello') %></p>
<p>Serviço by: João Pedro Monteiro</p>
<p> Criado em <%= 4030 - 2007 %> </p>
<p><%= Date.today  %> </p>
<p>Data formatada Brasil: <%= data_br(Date.today)  %></p>
<ul>
    <li>
        <%= link_to "Cadastro de Moedas ", "/coins" %>
    </li>
    <li>
        <%= link_to "Cadastro de Tipos de Mineração", "/mining_types" %>
    </li>
</ul>
-->